@model IEnumerable< InstituteManagement.Models.ClassModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
@foreach(var obj in Model)
{
    <h2>@obj.ClassName</h2>
}


