@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron container body-content" >
    <h1>Delhi Public School</h1>
    <h2>Welcomes You</h2>
    <p class="lead"></p>
    <img src="https://images.unsplash.com/photo-1565734777784-6e89609ed871?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80" class="col-lg-12" />
</div>

